/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: black;
    padding: 16px;
    background-color: #FF5A33;
    color: white;
    }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    }
h1 {
    color: #146152;
    }

h2 {
    text-shadow: 5px 5px 5px pink;
    }

h3 {
    color: #44803F;
    font-variant: small-caps slashed-zero;
}
    
main {
    padding: 16px;
    }

img {
    height: 200px;
    box-shadow: 3px -3px 10px red;
    }

tr:nth-child(even) {
    background-color: lightgray;
    }


.navlink {
    color: white;
    font-weight: 900;
    }
.navlink:hover{
    color: green;
    }

.link:visited{
    color: #44803F;
    }
.link:hover {
        color: green;
        box-shadow: 3px -3px 10px gray;
        transition: box-shadow 2s; 
        }

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0px;
  }
  .grid-item {
    padding: 0px;
  }

  footer {
    /* position: absolute; */
    bottom: 40px; left: 40px;
    padding: 24px 24px 24px 24px;
    background-color: #B4CF66;
    text-shadow: 1px 1px 2px pink;
    }